.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;

    .cubespinner {
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 12s;
        transform-style: preserve-3d;
        transform-origin: 100px 100px 0;
        margin-left: calc(50% - 100px);

        div {
            position: absolute;
            width: 200px;
            height: 200px;
            border: 1px solid rgb(227, 248, 255);
            background: rgba(166, 249, 255, 0.4);
            text-align: center;
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px 0 lightblue;
        }

        .face1 {
            transform: translateZ(100px);
            content-visibility: visible;
        }

        .face2 {
            transform: rotateY(90deg) translateZ(100px);
        }

        .face3 {
            transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        }

        .face4 {
            transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        }

        .face5 {
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        }

        .face6 {
            transform: rotateX(-90deg) translateZ(100px);

            img {
                height: 150px;
                width: auto;
            }
        }
    }

    @keyframes spincube {
        from,
        to {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        16% {
            transform: rotateY(-90deg);
        }
        33% {
            transform: rotateY(-270deg) rotateX(90deg);
        }
        50% {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        66% {
            transform: rotateY(-270deg) rotateX(90deg);
        }
        83% {
            transform: rotateX(90deg);
        }
    }
}

.card-wrapper {
    display: grid;
    width: 20%;
    height: 50%;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    padding: 30px;

    .about-jobs-card {
        aspect-ratio: 1 / 1 .6;
        border: 0.5vmin solid var(--border);
        cursor: pointer;
        position: relative;
        width: 56vmin;
        height: 100%;
        z-index: 10;
    
        &:before {
            background: linear-gradient(
                130deg,
                transparent 0% 33%,
                var(--g1, red) 66%,
                var(--g2, blue) 83.5%,
                var(--g3, green) 100%
            );
            background-position: -10% 0%;
            background-size: 300% 300%;
            content: "";
            height: 100%;
            left: 0px;
            position: absolute;
            transition: background-position 350ms ease, transform 350ms ease;
            top: 0px;
            width: 100%;
            z-index: 1;
        }
    
        &:hover:before {
            background-position: 100% 100%;
            transform: scale(1.08, 1.03);
        }

        .about-jobs-card-content {
            height: 100%;
            width: 100%;
            background: radial-gradient(
                rgba(0, 0, 0, 0.2) 8%,
                transparent 8%
            );
            background-position: 0% 0%;
            background-size: 5vmin 5vmin;
            transition: background-position 350ms ease;
        }
    }
}


